{
  "Packages":
  [
    {
      "Id": "JetBrains.Avalonia",
      "MergeAll": true,
      "Exclude": ["JetBrains.Avalonia.Remote.Protocol"],
      "IncomingIncludeAssetsOverride": "",
      "Merge": [
        {
          "Id": "Avalonia.Build.Tasks",
          "IgnoreMissingFrameworkBinaries": true,
          "DoNotMergeDependencies": true
        },
        {
          "Id": "Avalonia.DesktopRuntime",
          "IgnoreMissingFrameworkBinaries": true,
          "IgnoreMissingFrameworkDependencies": true
        }
      ]
    }
  ]
}
